@import "tailwindcss";


@theme {
  --color-app-background: #07111f;
  --color-surface: #0c1729;
  --color-accent-mid: #0f4c5c;
  --color-accent-soft: #123b5a;
  --color-border-dark: #233044;
}

.nav-footer-background {
  @apply bg-linear-to-r from-surface via-app-background to-surface border-b border-border-dark shadow-lg;
}

.website-background {
  @apply bg-linear-to-r from-app-background via-accent-soft to-app-background;
}